<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">Linked Posts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">My Profile</a>
                    </li>
                </ul>

            </div>
            <div class="mr-5">
                <ul class="navbar-nav m-auto ">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                           <img width="40" src="/img/man.jpg" alt="">
                           <%= users %> 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/account_setting">Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<!---------------------------------------------------------------------------->

<div class="cover">

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="person card pb-5 px-5  text-center">
                <img src="/img/man.jpg" width="250" alt="">
            </div>
        </div>
        <div class="col-md-8 pt-4">
            <h2><%= users %></h2>
            <h4 class="text-muted">Full Stack Web</h4>
<% for( let index = 0; index < data.length; index++ ) { %>
    <div class="post card p-4 auto">
        <div class="media">
            <img src="/img/man.jpg" width="60" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0"><%= data[index].username %> </h5>
            </div>
        </div>

        <h3><%= data[index].title %> </h3>
        <p class="pt-4"><%= data[index].post %></p>

    </div>

<% } %>
         
        </div>
    </div>
</div>

<%- include('footer.ejs') %> 
